* {
  box-sizing: border-box;
  /* margin-left: 2%;
    margin-right: 2%; */
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.page {
  margin-left: 10%;
  margin-right: 5%;
}

.header {
  height: 10%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.header div {
  cursor: pointer;
}
.project-header {
  font-family: Lexend Deca;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 110%;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #9c69e2;
  width: 18%;
}
.wrapper-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 70%;
}
.options-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  font-family: Lexend Deca;
}
.profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.dummy-header {
  margin-right: 15px;
  color: #9c69e2;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-header {
  font-weight: 600;
}
.login{
  background: #6B69E2;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 160%;
align-items: center;
width: 39%;
height: 49px;
letter-spacing: 0.005em;

color: #FFFFFF;
}

.heading {
  margin-top: 3%;
}
.upper {
  font-family: Arial;
  /* width: 1220px; */
  /* height: 140px; */
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 110%;
  /* or 77px */

  display: flex;
  align-items: center;

  /* 2 */

  color: #212353;
}
.down {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 28px */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-top: 0.1%;

  color: #000000;
  /* width: 780px; */
  height: 25px;
}
.search {
  display: flex;
  margin-top: 5%;
  height: 65px;
}
.searchbar {
  background: #ffffff;
  border: 2px solid #6b69e2;
  box-sizing: border-box;
  box-shadow: 0px 10px 0px rgba(156, 105, 226, 0.1);
  border-radius: 10px;
  width: 66%;
  /* height: 75px; */
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 110%;
  /* identical to box height, or 28px */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 2%;
}
.submitbtn {
  background: #6b69e2;
  border-radius: 15px;
  width: 20%;
  border: white;
  /* height: 75px; */
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  /* or 39px */
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  margin-left: 2%;
  color: white;
  cursor: pointer;
}

.topic {
  margin-top: 4%;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

.categories {
  width: 87%;
  margin: 5%;
  background: rgba(130, 71, 255, 0.15);
  border-radius: 50px;
}

.row {
  display: flex;
  justify-content: space-around;
}
.box {
  width: 28%;
  height: 100px;
  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 12px 0px rgb(156 105 226 / 10%);
  border-radius: 19px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 124%;
  line-height: 130%;
  display: flex;
  margin: 1% 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  position: relative;
  color: #000000;
  left: -54px;
  top: -34px;
  cursor: pointer;
}


@media only screen and (orientation:portrait) and (max-width: 1030px){
  
  .project-header {
    
    width: 20%;
  }
  
}


@media only screen and (orientation:landscape) and (max-width:825px){
  
  .project-header {
    font-size: 22px;
    width: 25%;
  }
  .options-header {
    font-size: 11px;
  }
  .dummy-header {
    margin-right: 10px;
    color: #9C69E2;
    font-size: 15px;
  }
  .name-header {
      font-weight: 600;
      font-size: 11px;
    }
  }
  
  @media only screen and (orientation: portrait) and (max-width: 820px)
{
  .project-header{
    width: 26%;
  }
  .login{
    font-size: 18px;
  }
  .box{
    font-size: 110%;
  }
}
@media only screen and (orientation:portrait) and (max-width: 770px){
  
  .project-header {
    width: 28%;
  }
  
}
@media only screen and (max-width: 732px)
{
  .upper{
    font-size: 40px;
  }
  .down{
    font-size: 15px;
  }
  .search{
    height: 50px;
  }
  .submitbtn{
    font-size: 16px;
  }
  .categories{
    margin: 8% 0 0 5%;
    width: 95%;
  }
  .topic{
    font-size: 16px;
  }
  .project-header {
      font-size: 18px;
      width: 25%;
  }
  .options-header {
      font-size: 9px;
  }
}

@media only screen and (max-width:600px){
  .categories {
    margin: 4% 0 0 0%;
    width: 100%;
    background: none;
}
.box{
  left: 0px;
  top: 0px;
  margin: 2% 0;
  width: 31%;
  font-size: 100%;
}
.down{
  font-size: 12px;
}
.upper {
  font-size: 29px;
  margin-bottom: 10px;
}
.topic{
  font-size: 14px;
}
.login{
  height: 31px;
  font-size: 12px;

}
.page{
  margin-left: 7%;
}
}

@media only screen and (max-width: 475px)
{
  .box{
    height: 60px;
    width: 96%;
  }
  .row{
    flex-direction: column;
  }
  .submitbtn{
    width: 24%;
    font-size: 12px;
  }
  .login{
    font-size: 10px;
  }
}

@media only screen and (orientation:portrait) and (max-width: 420px){
  .project-header {
      width: 31%;
      font-size: 15px;
  }
  .options-header {
      font-size: 7px;
  }
  .name-header {
      font-weight: 600;
      font-size: 8px;
  }

}
@media only screen and (orientation:portrait) and (max-width: 340px){

}