* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    margin: 0%;
    background: #9a9aa712;
    font-family: "arial";
  }
  .div1 {
    height: 9vh;
    padding-left: 3%;
    color: white;
    background: #6b69e2;
    display: flex;
    align-items: center;
  }  
  .div2{
      padding: 0px;
  }
  .userimg{
    border-radius: 50%;
    max-height: 60px;
    max-width: 60px;
  }
  .list{
      background: white;
      /* opacity: 0.5; */
      width: 100%;
      height: 70%;
      box-shadow: -5px 5px 10px rgba(#777, .5);
  }

  .people{
      list-style: none;
      line-height: 1.2em;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    
    .people .title{
      margin-left: 14px;
      text-transform: uppercase;
      font-size: 1.2em;
      letter-spacing: 3px;
      
      color: #777;
  }

  .people .time{
      margin-right: 5px;
      font-size: 0.7em;
      color: #777;
  }

  .people .preview{
      color: #6b69e2;
      margin-left: 14px;
      font-size: 1em;
  }
  .upper{
      display: flex;
      justify-content: space-between;
  }

  .person{
    padding: 12px 0 12px 12px;
    border-bottom: 1px solid #6b69e2;
    cursor: pointer;
  }
  .people :hover{
      background: #FBFBFF;
      /* transition: all .3s ease-in-out; */
  }

  .focus {
    background: #FBFBFF;
    margin-left: 1px;
  }

  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    margin: 0%;
    background: #fff;
    font-family: "Helvetica";
  }
  h2{
    margin-left: 2%;
  }
  
  i{
    font-size: 2em;
    cursor: pointer;
  
  }
  
  .btns {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* display: none; */
    position: absolute;
    left: 29%;
    top: -84%;
    z-index: 5;
  }
  .div1 {
    height: 9vh;
    padding-left: 3%;
    color: white;
    background: #6b69e2;
    display: flex;
    align-items: center;
  }
  .div2 {
    height: 10vh;
    background: #fafbff;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    align-items: center;
    padding: 0px 3%;
    justify-content: space-between;
    width: 100%;
  }
  .user {
    font-size: xx-large;
    display: flex;
    align-items: center;
  }
  .userimg {
    width: 28%;
    margin-right: 15px;
  }
  .userimgs {
    cursor: pointer;
    width: 35%;
  }
  .btns img {
    width: 50px;
    margin: 4% 0;
    -webkit-filter: drop-shadow(5px 5px 5px #cecbcb);
    filter: drop-shadow(5px 5px 5px #cecbcb);
    cursor: pointer;
  
  }
  
  .div4 {
    display: flex;
    width: 100%;
    height: 18vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
  }
  .submit {
    width: 130.82px;
    height: 71.21px;
  
    background: linear-gradient(325.78deg, #6b69e2 14.76%, #6b69e2 87.3%);
    box-shadow: 1px 1px 9px rgba(107, 105, 226, 0.57),
      0.7px 0.7px 8px rgba(42, 139, 242, 0.05),
      1px 1.5px 3px rgba(42, 139, 242, 0.15);
    border-radius: 10px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.02em;
    padding: auto;
    color: #ffffff;
  }
  .me .msg {
    background: linear-gradient(90.54deg, #6564be 0%, #6b69e2 100%);
  }
  
  .other .msg {
    color: gray;
  }
  
  .other {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
  }
  
  .me {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  .div3 {
    padding: 5px 25px;
    height: 60vh;
    max-height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 0px;
  }
  #profilepic {
    width: 45px;
  }
  
  .msg {
    box-shadow: 5px 5px 12px rgba(42, 139, 242, 0.1),
      7px 7px 17px rgba(42, 139, 242, 0.05), 5px 5px 25px rgba(42, 139, 242, 0.1);
    max-width: 50%;
    width: 50%;
    padding: 1%;
    color: white;
    border-radius: 5px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    word-break: break-word;
  }
  
  .p1{
      height: 100%;
      position: relative;
      width: 0%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .plus img{
      width: 100%;
      cursor: pointer;
  }
  .plus{
      display: flex;
      justify-content: center;
  }
  .p2 {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .p2 input{
      height: 50%;
      width: 100%;
      border-radius: 10px;
      padding: 5px;
      font-size: large;
      
  }
  .p3{
      height: 100%;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .hr{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 2vh;
      width: 100%;
  }
  hr{
      width: 85%;
      color: rgba(112, 124, 151, 0.15);
      background-color:rgba(112, 124, 151, 0.15);
  
      height: 3px;
  }
  .active{
      align-items: flex-end !important;
      width: 50px;
      height: 100%;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  .wrapper{
    display: flex;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    background: rgb(250, 251, 255);
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ddddda5e;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c6c6ff5e; 
  }
  