@media only screen and (orientation:landscape) and (max-width:1370px){
    .story{
        height: 48%;
    }
    .others{
        height: 119vh;
    }
    .text{
        font-size: 17px;
    }
}

@media only screen and (orientation:landscape) and (max-width:825px){
    .story{
        height: 48%;
        width: 31%;
    }
    .project-header {
        font-size: 22px;
        width: 25%;
    }
    .options-header {
        font-size: 11px;
    }
    .dummy-header {
        margin-right: 10px;
        color: #9C69E2;
        font-size: 15px;
    }
    .name-header {
        font-weight: 600;
        font-size: 11px;
    }
    .others{
        height: 221vh;
    }
    .searchbox input {
        height: 39px;
    }
    .popup{
        width: 87%;
    }
    .upper h1 {
        color: #6B69E2;
        margin-bottom: 8px;
        font-size: 21px;
    }
    .content p{
        font-size: 13px;
    } 
    .bottom .content h3 {
        color: #6B69E2;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .Delete , .liked{
        font-size: medium;
        height: 57px;
        width: 26%;
    }
    .Delete i, .liked i {
        font-size: x-large;
    }
}
@media only screen and (orientation:landscape) and (max-width:737px){
    .story {
        height: 43%;
    }
    .text {
        font-size: 15px;
    }
    .part2{
        font-size: 14px;
    }
}
@media only screen and (orientation:landscape) and (max-width:730px){
    .searchbox input {
        height: 40px;
    }
    .story {
        width: 30%;
        height: 47%;
    }
    .project-header {
        font-size: 18px;
        width: 25%;
    }
    .options-header {
        font-size: 9px;
    }
    .others {
        height: 126vh;
    }
    .part2{
        font-size: 13px;
    }
    .text {
        font-size: 12px;
    }
    .story .part1{
        margin-bottom: 14px;
    }
    .popup{
        width: 87%;
    }
    .upper h1 {
        color: #6B69E2;
        margin-bottom: 8px;
        font-size: 21px;
    }
    .content p{
        font-size: 13px;
    } 
    .bottom .content h3 {
        color: #6B69E2;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .Delete , .liked{
        font-size: medium;
        height: 57px;
        width: 26%;
    }
    .Delete i, .liked i {
        font-size: x-large;
    }
    

}
@media only screen and (orientation:landscape) and (max-width:670px){
    .searchbox input {
        height: 34px;
    }
    .others {
        height: 157vh;
    }
    .text {
        font-size: 11px;
    }
    .tag{
        width: 122px;
    }
    .upper h3{
        font-size: 13px;
    }
    .content p{
        font-size: 10px;
    }
}
@media only screen and (orientation:portrait) and (max-width:1030px){
    .story {
        width: 22%;
        height: 30%;
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        margin-bottom: 0%;
        min-width: 362px;
    }
    .project-header {
        
        width: 20%;
    }
    .text {
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        word-break: break-word;
        margin-bottom: 18px;
        font-size: 20px;
    }
    .others{
        height: 118vh;
    }
    .part2{
        font-size:25px;
    }
}
@media only screen and (orientation:portrait) and (max-width:770px){
    .story {
        width: 22%;
        height: 30%;
        min-width: 300px;
    }
    .project-header {
        width: 30%;
    }
    .text {
        height: fit-content;
        width: 100%;
        
        word-break: break-word;
        margin-bottom: 18px;
        font-size: 20px;
    }
    .others{
        height: 128vh;
    }
    .part2{
        font-size:25px;
    }
    .cross{
        font-size: 20px;
    }
    .upper h3{
        font-size: 11px;
    }
    .upper h1{
        font-size: 15px;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .bottom img {
        width: 65%;
    }
    .bottom .content {
        width: 87%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .bottom .content h3 {
        color: #6B69E2;
        margin-bottom: 10px;
        margin-top: 12px;
    }
    .Delete, .liked{
        font-size: 15px;
        height: 55px;
        width: 27%;
    }
    .Delete i , .liked i{
        font-size: 17px;
    }
}
@media only screen and (orientation:portrait) and (max-width:420px){
    .story {
        width: 20%;
        height: 22%;
        min-width: 290px;
    }
    .part2 {
        font-size: 19px;
    }
    .project-header {
        width: 30%;
        font-size: 15px;
    }
    .heading {
        font-weight: 600;
        font-size: 29px;
    }
    .options-header {
        font-size: 7px;
    }
    .name-header {
        font-weight: 600;
        font-size: 8px;
    }
    .part1{
        margin-bottom: 13px;
    }
    .others {
        height: 319vh;
    }
    .content p{
        font-size: 13px;
    }
    .upper h1 {
        font-size: 14px;
    }
    .bottom .content h3 {
        color: #6B69E2;
        margin-bottom: 10px;
        margin-top: 12px;
        font-size: 14px;
    }
    .Delete, .liked {
        font-size: 13px;
        height: 43px;
        width: 38%;
    }   
    .pt1 {
        background-color: white;
        border-radius: 30px;
        border: #6B69E2 3px solid;
        padding: 5%;
    }
}
@media only screen and (orientation:portrait) and (max-width:330px){
    .story {
        width: 20%;
        height: 22%;
        min-width: 249px;
    }
    .popup {
        
        width: 82%;
    }
    .Delete, .liked {
        font-size: 11px;
        height: 42px;
        width: 40%;
    }
    .pt1 {
        background-color: white;
        border-radius: 30px;
        border: #6B69E2 3px solid;
        padding: 5%;
    }
    .part2 {
        font-size: 13px;
    }
    .searchbox input {
        height: 34px;
    }
    .text{
        font-size: 16px;
    }
    .tag {
        height: 25px;
        width: 69px;
    }
    .content p{
        font-size: 10px;

    }
}