<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>

  <title>About</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/about.css" />
</head>

<body>
  <div class="header">
    <div class="wrapper-header">
      <div class="project-header">sharability</div>
      <div class="options-header">
        <div class="option3-header">Home</div>
        <div class="option1-header">About</div>
        <div class="option2-header">Chats</div>
        <div class="option4-header">Search</div>
      </div>
    </div>

    <div class="profile-header">
      <% if(check){ %>
        <div class="dummy-header"><i class="fas fa-user-circle"></i></div>
        <div class="name-header">  <%- name %>    </div>
        <% }else{%>
          <div class="name-header" style="display: none;">
            name
          </div>
          <a href="/logout" style="color: black; text-decoration: none; cursor: pointer; font-weight: bold;">Logout</a>
          <% } %>
    </div>
  </div>
  <div class="welcome-area" id="welcome">
    <div class="header-text">
      <div class="container">
        <div class="row">
          <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
            <h1>
              We present a <strong>safe and inclusive</strong> platform
              for people with disabilities to share their <strong>lifehacks</strong> and experiences with each other
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section home-feature">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12"
              data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
              <div class="features-small-item">
                <div class="icon">
                  <i><img src="/images/disable.png" alt="" /></i>
                </div>
                <h5 class="features-title">Practicality</h5>
                <p>
                  Real life hacks and content to answer practical challenges
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12"
              data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
              <div class="features-small-item">
                <div class="icon">
                  <i><img src="/images/eye.png" alt="" /></i>
                </div>
                <h5 class="features-title">Visibility</h5>
                <p>Better content visibility classified by categories</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12"
              data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
              <div class="features-small-item">
                <div class="icon">
                  <i><img src="/images/featured-item-01.png" alt="" /></i>
                </div>
                <h5 class="features-title">Community</h5>
                <p>
                  Safe and genuine connections between members
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-0" id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="/images/boy.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
          <div class="left-heading">
            <h2 class="section-title">Meet John</h2>
          </div>
          <div class="left-text">
            <p>He is a Young man living with Hemiplegia on left side of upper body. He does not want to depend on his
              carer for making his meals everyday & to clean up afterwards.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section padding-bottom-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
          <div class="left-heading">
            <h2 class="section-title">What John needs?</h2>
          </div>
          <div class="left-text">
            <p>He wants to be able to take care of himself.
              He wants to share his ideas & creative hacks with others.
              He wants to connect with like-minded people. </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
          data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <img src="/images/boy2.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
      </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-10" id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="/images/boy3.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
          <div class="left-heading">
            <h2 class="section-title">John finds out about SHARABILTY</h2>
          </div>
          <div class="left-text">
            <p>He finds out about this platform to support people with disabilities and their carers. This webapp aims
              to help the people in their daily needs. App matches John's needs.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section padding-bottom-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
          <div class="left-heading">
            <h2 class="section-title">John can easily share his life hacks with others</h2>
          </div>
          <div class="left-text">
            <p>John discovered a way to toast with one hand and using sharability, he can share his life hack. He can
              upload a video, or an audio or even write a paragraph about his hack. He also selects the tags to help
              others in the search. </p>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big"
          data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
          <img src="/images/boy4.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
      </div>
    </div>
  </section>
  <section class="section padding-top-70 padding-bottom-80" id="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 align-self-center"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
          <img src="/images/msg.gif" class="rounded img-fluid d-block mx-auto" alt="App">
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
          <div class="left-heading">
            <h2 class="section-title">John can connect with like minded people</h2>
          </div>
          <div class="left-text">
            <p>Community members can connect and support each other. John can now make friends along with motivating and
              helping others in his community. He no long feels alone.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="hr"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>

</html>