<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/messageList.css">
    <title>Message</title>
</head>

<body>
    <div class="div1">
        <h2> Contact 
            </h2>
    </div>
    <div class="div2">
        <div class="user"><img src="/images/user.png" alt="" class="userimg"><span></span> </div>
    </div>
    <div class="div3">
    </div>
    <div class="hr">
        <hr>
    </div>
    <div class="div4">
        <div class="p1">
            <div class="btns">
            </div>
            <div class="plus active">
            </div>
        </div>
        <div class="p2">
            <input type="text" placeholder="enter message">
        </div>
        <div class="p3">
            <div class="submit">Submit</div>
        </div>
    </div>
    <script src="/js/chat.js"></script>
</body>

</html>