<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="project-header">
        <img src="/images/sharability.png" alt="" class="headerimg">
    </div>
    <div class="page">
        
        <div class="wrapper">
            <div class="heading">
                <div class="upper">Sign Up,<br>
                    and start sharing your story.</div>
                <div class="down">Register to be able to share your content and connect with others.</div>
            </div>
            <form action="">
                <label for="name">Your name</label>
                <input class="up" type="name" name="" id="name" placeholder="Type your name here">
                <label for="email">Your e-mail</label>
                <input class="up" type="email" name="" id="email" placeholder="Type your e-mail here">
                <label for="phone">Your Phone number</label>
                <input class="up" type="number" name="" id="phone" placeholder="Type your phone no. here">
                <label for="about">Tell Us About Yourself</label>
                <input class="up" type="text" name="" id="about" placeholder="Type about yourself here">
                <label for="password">Your Password</label>
                <input class="up" type="password" name="" id="password" placeholder="at least 8 characters ">
                <label for="confirmPassword">Confirm your Password</label>
                <input class="up" type="password" name="" id="confirmPassword" placeholder="at least 8 characters ">
                <div class="message"></div>
                <div class="submitbtn">SIGN UP</div>

                <div class="signup">Already have an account? <span>Log In</span> </div>
            </form>
        </div>
        <script src="/js/signUp.js"></script>
</body>

</html>